# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# MacOS
.DS_Store

# Keys
*.json

*.asc
*.asc.gz
*.nc
*.tif
*.tif.aux.xml
*.zip
